.choice {
    margin-left: 10px;
} 
.choice-id {
    font-weight: bold;
    margin-right: 4px;
}
.difficulty {
    text-transform: uppercase;
    font-weight: bold;
}
.answer-key {
    margin: 0 0 3px 0;
}
.wrong-x {
    font-size: 200%;
    font-weight: bolder;
    color: red;
}
